/***FONT SIZING***
http://type-scale.com/?size=16&scale=1.125&text=A%20Visual%20Type%20Scale&webfont=%27PT+Sans%27&font-family=%27PT%20Sans%27,%20sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=
***/

* {
  box-sizing: border-box;
}

header {
  padding-bottom: 2.5em;
  margin: -1rem -1rem 1rem;
  background: url(../images/dessertsky.jfif) center / auto no-repeat #f2e9e4;
  background-blend-mode: multiply;
  color: black;
}

body {
  font-family: 'preconnect', Verdana, sans-serif;
  font-size: 1em; /*16px*/
  line-height: 1.5;
  color: black;
  background-color: #f2e9e4;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'preconnect', Verdana, sans-serif;
  color: #22223b;
  margin: 0;
}

h1 {
  padding: 1em 0 1em;
  font-size: 2em;
  line-height: 2;
}

h2 {
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 3em;
  letter-spacing: .01em;
  color: #22223b;
}

h3 {
  font-size: 1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 2.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  background-color: #c9ada7;
  margin-bottom: 0.3em;
}

nav ul li a {
  display: block;
  font-family: 'preconnect', Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #22223b;
  text-decoration: none;
  padding: 0.5em;
  transition: all 0.2s;
}

nav ul li a:hover {
  background-color: #c9ada7;
  color: #22223b;
}

.banner {
  width: 90%;
  margin: 0 auto;
}

main {
  background-color: #f2e9e4;
  padding-bottom: 2em;
}

#portfolio,
#skills {
  padding-top: 3em;
}

.project {
  margin-bottom: 1.5em;
}

.project img {
  margin-bottom: 1.5em;
  border-radius: 2%;
}

.project p {
  margin-top: 0.5em;
  margin-bottom: 2.3em;
  padding: 0 2em;
}

.wrapper {
  width: 100%;
  background-color: #fff;
  padding-bottom: 4em;
}

.skill-list {
  margin: 0 1.5625em;
  padding: 0;
}

.skill-list li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: black;
  box-shadow: 5px 4px 5px pink;
  color: white;
  padding: 1em;
  width: 80%;
  font-size: 1.266em;
  margin-bottom: 0.3em;
}

.skill-list li:hover {
  opacity: 0.5;
}

.skill-list i {
  padding-right: 0.5em;
}

footer {
  margin-top: 4em;
}

#contact h2 {
  padding-bottom: 1em;
}

address {
  font-style: normal;
  padding-bottom: 4em;
}

address span {
  font-weight: 700;
  padding-left: 0.5em;
}

address span a {
  text-decoration: none;
  color: inherit;
}

address span a:hover {
  border-bottom: 2px solid #626F7E;
  color: #626F7E;
}

.credit {
  border-top: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 1em 1em;
  font-size: 0.889em;
  font-weight: 700;
  font-family: 'preconnect', Verdana, sans-serif;
}

.credit p {
  float: left;
  color: black;
}

.credit p + p {
  float: right;
  text-transform: lowercase;
}

.credit p a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  transition: all 0.2s;
}

.credit p a:hover {
  background-color: black;
  color: white;
  opacity: 0.5;
}

.footer-nav {
  display: none;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}


@media (min-width: 768px) {

  nav ul {
    display: inline-block;
    margin: 0 auto;
  }

  nav ul li {
    float: left;
    background-color: transparent;
  }

  nav ul li a {
    display: inline-block;
    padding: 1em 1.5em;
  }

  .profile-picture {
    float: right;
    width: 25%;
  }

  .banner {
    width: 100%;
  }

  .welcome {
    float: left;
    width: 67%;
    margin-top: 0;
    padding: 0 1em;
    font-size: 1.125em;
    text-align: left;
  }

  .project {
    float: left;
    width: 50%;
    padding: 1em;
    margin-bottom: 0.5em;
  }

  .project p {
    height: 4em;
  }


  .skill-list li {
    float: left;
    width: 25%;
  }

  .contact-info {
    font-size: 1.266em;
    max-width: 75%;
    margin: 0 auto;
  }

  .credit p a {
    display: none;
  }

  footer {
    padding-bottom: 2em;
    width: 100%;
  }

  .footer-nav {
    display: block;
    text-align: right;
  }

  .footer-nav ul li a {
    color: black;
  }

  .footer-nav ul li a:hover {
    background-color: black;
    color: white;
  }

}

@media (min-width: 1024px) {

  .main-header {
    margin-top: 2.5em;
    margin-bottom: 5em;
    min-height: 3.125rem;
  }

  .student-name {
    float: left;
    padding: 1rem 0;
  }

  .main-nav {
    float: right;
    margin-right: 32px;
  }

  .welcome {
    font-size: 1.424em;
    width: 60%;
    padding-right: 6rem;
    padding-left: 0;
  }

  .profile-picture {
    width: 25%;
    padding-right: 32px;
  }

  .project {
    width: 33%;
    padding: 0.5em;
  }

  .contact-info {
    width: 50%;
  }

  footer {
    padding-bottom: 0;
  }

}
